
    $white--color:#FFF;
    $active--color:#FF6C00;
    $hidden--color:rgba(157, 164, 189, 0.60);
    $gray--color:#9da4bd81;
    $title--color:#303030;
    $text--color:#555;
    $true--gray--color:#9DA4BD;
    $us--bg--color:#F7F7F7;