@use "../base/var" as *;

.booking {
  padding-bottom: 84px;
  padding-top: 84px;
  background-color: $booling--color;

  &__title {
    color: $white--color;
    text-align: center;
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 44px;
   

    @media screen and (min-width:720px) { 
      flex-direction: row;
      flex-wrap: wrap;
      
      
    }
  }

  &__holder {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $true--gray--color;
    padding-bottom: 8px;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $white--color;

    @media screen and (min-width:720px) {
      width: 330px;
    }

    &:focus {
      border-top: none;
      outline: none;
      border-bottom: 1px solid $white--color;
      color: $white--color;
    }

    &:focus::placeholder,
    &:hover::placeholder {
      color: $white--color;
    }
  }

  &__button {
    width: 160px;
    height: 40px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: transparent;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #ff6c00;

    @media screen and (min-width:720px) {
     display: block;
     margin-right: 550px;
     margin-top:44px ;
    }
  }
}

.commen {
  padding-bottom: 60px;


  @media screen and (min-width:720px) {
    width: 100%;
  }
}
